[submodule "external-libs/MKNetworkKit"]
	path = external-libs/MKNetworkKit
	url = git://github.com/MugunthKumar/MKNetworkKit.git
[submodule "external-libs/SDWebImage"]
	path = external-libs/SDWebImage
	url = git://github.com/rs/SDWebImage.git
[submodule "external-libs/UICollectionViewWaterfallLayout"]
	path = external-libs/UICollectionViewWaterfallLayout
	url = git://github.com/chiahsien/UICollectionViewWaterfallLayout.git
[submodule "external-libs/MBProgressHUD"]
	path = external-libs/MBProgressHUD
	url = git://github.com/jdg/MBProgressHUD.git
